
spring:
  application:
    name: spring-kafka
  kafka:
    # Use environment variable if set, otherwise default to localhost:9092
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:-localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: group1
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

logging:
  level:
    root: INFO
    com.jai: DEBUG
    org.apache.kafka: INFO
    org.springframework.kafka: DEBUG